<div class="center jumbotron">
	<h1>Welcome to Friend Books</h1>

	<h2>
		This is the home page for Friend Books
	</h2>

	<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"), 'http://rubyonrails.org/' %>
