<footer class="footer">
	<small>
		Friend Books by @joy.net
	</small>
	<nav>
		<ul>
			<li><%= link_to "About", "#" %></li>
			<li><%= link_to "Contact", "#" %></li>
		</ul>
	</nav>
</footer>


